.container {
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#mainTitle {
  margin-bottom: 20px;
}

#output {
  padding: 30px;
  background-color: #f6f8fa;
  border-radius: 5px;
  font-size: 14px;
}

#result {
  margin-top: 40px;
}

#bestPractices {
  font-size: 12px;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}

#mainTitle {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

label {
  font-weight: bold;
  font-size: 14px;
}

#promptInput {
  margin-top: 20px;
  padding-top: 30px !important;
  font-size: 14px;
}

textarea {
  background-color: #f6f8fa !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

#submitGrid {
  margin-top: 10px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

code {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}